@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   font-size: 16px;
   background: #F3F2F8;
   font-family: 'Open Sans', sans-serif;
}
body{
    h1{
        font-size: 1.875rem;
        font-weight: 500;
        color: rgb(0, 0, 0);
        margin-top: 50px;
        margin-bottom: 50px;
       
    }
}
html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar{display: none;}
section{
    width: 100%;
    max-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
   form{
       padding: 25px;
       width: 100%;
       label{
           line-height: 20px;
           cursor: pointer;
       }
       select{
           width: 100%;
           padding: 10px;
           border-radius: 6px;
           background-color:#e3e6e8 ;
           cursor: pointer;
           option{
            background-color:#e3e6e8 ;
            padding: 10px !important;
            cursor: pointer;
            transition: 500ms;
            &:hover{
                background-color: white;
            }
           }
       }
       input{
           width: 100%;
           padding: 10px;
           border: 1px solid black;
           background-color:#e3e6e8 ;
           border-radius: 6px;
           &:focus{
               outline: none;
           }
           cursor: pointer;
       }
   }
}
.card{
    width: 100%;
    min-width: 100%;
    // box-shadow:12px 17px 52px -2px #c7c5d8;
    // -webkit-box-shadow: 12px 17px 52px -2px #c7c;
    // -moz-box-shadow: 12px 17px 52px -2px #c7c5d8;
    // -ms-box-shadow: 12px 17px 52px -2px #c7c5d8;
    box-shadow: 2px 4px 6px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 6px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 6px 4px rgba(0,0,0,0.75);
    border: 0;
    .card-body{
        padding: 1.375rem 1.25rem;
    }
}
a{
    padding: 10px;
    border-radius: 6px;
    width: 100% !important;
    background: #1967d2;
    color: white;
    cursor: pointer;
}



    .swich{
        z-index: 44;
        input[type="checkbox"]{
            position: relative;
            width: 80px;
            height: 40px;
            -webkit-appearance: none;
            outline: none;
            background: #e3e6e8;
            border-radius: 20px;
            border: none;
            transition: 500ms;
            box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
            &::before{
                content:"";
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                top: 0;
                left: 0;
                background: #fff;
                transition: 500ms;
                transform: scale(1.1);
                box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            }
        }
        input:checked[type="checkbox"]{
            background: #40e551;
            &::before{
                left: 40px;
            }
        }
    }

  @media (max-width:768px) {
      section{
          .container{
            margin-top: 88%;
          }
          min-height: auto;
          ul{
              li{
                  padding: 10px;
                 
              }
          }
      }
      select{
         
          margin-top: 15px;
      }
      .Btn-button{
          margin-bottom: 25px;
      }
  }
 
  @media (max-width:576px) {
      section{
        padding-top: 45%;
      }
      form{
          z-index: 888;
      }
  
  }
 
